body {
    background: #bdc3c7;
    background: -webkit-linear-gradient(to bottom, #263646, #bdc3c7); 
    background: linear-gradient(to bottom, #263646, #bdc3c7); 

     
}
.container {
    margin-top: 50px;
}

#output-image {
    max-width: 100%;
    height: auto;
}
