body {
    background-image: url(img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    
}
.container {
    margin-top: 50px;
}

#output-image {
    max-width: 100%;
    height: auto;
}
